.header_skeleton {
    width: 100%;
    padding: 2em;
}

.main_skeleton {
    padding: 2em;
    min-height: 60rem;
}

.footer_skeleton {
    margin-top: auto;
}

.information_skeleton {
    padding: 2em;
    background-color: lightgrey;
}

.copyright_skeleton {
    width: 100%;
    padding: 2em;
    background-color: lightslategray;
}